MONGO_URI =MONGO_URI=mongodb://127.0.0.1:27017/jurisynth
JWT_SECRET =randomSecretjurisynth.project_main
GOOGLE_CLIENT_ID =142419293707-monq563ues13gbh4a1bjarvpeogbfquo.apps.googleusercontent.com
PORT =5000 
GEMINI_API_KEY =AIzaSyBEOHQi5PkFo_4mxGRJt0zTazUM3Ss2m_c